*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;

}


.wrapper{
    margin:50px auto;
    max-width: 500px;
    background-color: #fff;
    padding:30px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    animation: dropFadeIn 0.5s ease-in-out;
}

@keyframes dropFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h1{
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
}

form{
    display: flex;
    flex-direction: column;

}

label{
    font-size: 18px;
    margin-bottom: 5px;
}

input[type= "text"],
input[type= "password"]{
    padding: 10px;
    margin-bottom: 20px;
    border:none;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);

}
.check{
    margin-bottom: 10px;
}

.check label{
    margin-top: 5px;
}

input[type= "submit"]{
    padding:10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    background-color: #007bff;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    
}

input[type= "submit"]:hover{
    background-color: #0062cc;
}

p{
    margin-top: 5px;
}
