<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMPT 276</title>
</head>
<body>
    <h1>CMPT 276 summarizer</h1>

    <!-- Login stuff -->
    <!-- Sessions should hold user api keys 
        instead of needing to input manually -->
    <form>
        <fieldset>
        <legend>Login (To do later)</legend>
        Username <input id="uname" type="text">
        <input type="submit" value="submit">
        </fieldset>
    </form>

    <!-- Chat gpt response -->
    <section id="response">
        <h2>response</h2>
        <div class="result">{{ result }}</div><br>
    </section>

    <!-- Way to interact with chat gpt -->
    <form action="/" method="post">
        Insert API key: <input type="text" name="api_key"><br>
        <textarea rows="4" cols="50" name="chatbox" placeholder="Input chatgpt request"></textarea>
        <p>
            <input type="submit" value="Submit" >
            <select name="type">
                <option value="text">text</option>
                <option value="youtube">youtube</option>
            </select>
        </p>
    </form>

    <h4>Notes</h4>
    <p>For the youtube option, put only the id <br>
       example: bBQVR4epfBQ&pp=ygUScGVydW4gcmVxdWlyZW1lbnRz</p>

    <script src="js/script.js"></script>
</body>
</html>