<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/login.css">
  </head>
  <body>
    <div class="wrapper">
    <h1>Login {{error_message}}</h1>

    <form method="post" action="/login">
      <!-- Input fields for username and password -->
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required />
      <br />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
      <br />
      <input type="submit" value="Login" id="loginButton" />
    </form>
    <form method="GET" action="/signup">
      <input id="search-btn" type="submit" value="Signup Instead" />
    </form>

    </div>
    <script src="../static/js/loginscript.js"></script>

    <!-- Optionally, you can include a link to the registration page -->
    <!-- <p>Don't have an account? <a href="/register">Register here</a></p> -->
  </body>
</html>
